html {
    height: 100%;
    font-family: Georgia, serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
}

#absolute {
    position: absolute;
}

#bg-img {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('/images/landscape-min/furniture.jpg');
    transition: background-image 2s ease-in-out;
    height: 100%;
    opacity: 1.0;
}
