html {
    height: 100%;
    font-family: Georgia, serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}